<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>

    <div class="profile-card">
        <img src="https://via.placeholder.com/120" alt="User Profile Picture">
        <h2 id="userName">John</h2>
        <p>Welcome to your profile!</p>
        <a href="#" class="btn">View More</a>
    </div>

</body>

</html>
