<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Advisor FAQs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <header>
        <div id="logo-text">
            <img id="header-logo" src="{{ url_for('static', filename='images/fintech_logo.png') }}" alt="Financial Advisor Logo" width="60px" height="60px">
            <h1>Financial FAQs</h1>
        </div>
        <div>
            <nav>
                <a href="{{ url_for('index') }}"><button>Home</button></a>
                <a href="{{ url_for('chatbot') }}"><button>Chat with Advisor</button></a>
                <a href="{{ url_for('financejokes') }}"><button>Jokes</button></a>
                <a href="{{ url_for('sentimentanalysis') }}"><button>Sentiment Analysis</button></a>
            </nav>
        </div>
    </header>
    <main>
        <div class="faq-container">
            {% for faq in faqs %}
            <div class="faq-item">
                <h2>{{ faq.question }}</h2>
                <p>{{ faq.answer }}</p>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>